@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer components {
	.pointer {
		--cursor-size: max( 15px, calc( 100vw / 60 ) );
		background-color: #FF0000;
		opacity: .75;
		border-radius: 50%;
		position: fixed;
		top: 0;
		left: 0;
		height: var(--cursor-size);
		width: var(--cursor-size);
		transform: translate3d( calc( var( --x ) - var( --cursor-size ) / 2 ), calc( var( --y ) - var( --cursor-size ) / 2 ), 0 );
		pointer-events: none;
		touch-action: none;
		user-select: none;
		z-index: 9999;
	}
}


@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}